# Antes de empezar:
- Lee el archivo README.md
- Comenta tanto como puedas y utiliza los recursos (archivo README.md)
- ¡Feliz aprendizaje!

In [21]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from statsmodels.stats.proportion import proportions_ztest

from scipy.stats import ttest_ind, norm, t, ttest_1samp
from scipy.stats import f_oneway
from scipy.stats import sem

# Reto 1 - Explorando los Datos

En este reto, examinaremos todos los salarios de los empleados de la Ciudad de Chicago. Comenzaremos cargando el conjunto de datos y examinando su contenido.

In [9]:
# Run this code:
salaries = pd.read_csv('data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examina el conjunto de datos `salaries` utilizando la función `head` que se muestra a continuación.

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Reto 2 - Pruebas de Hipótesis

En esta sección del laboratorio, vamos a probar si el salario por hora de todos los trabajadores por hora es significativamente diferente de $30/hora. Importa la función correcta para la prueba de una muestra desde scipy y realiza la prueba de hipótesis para un intervalo de confianza de dos lados del 95%.

In [12]:
# Extraer valores de la columna Hourly Rate, eliminando valores nulos
salaries_hourly = salaries['Hourly Rate'].dropna().values
media = 30

# Realizar prueba t de una muestra
t_stat, p_valor = ttest_1samp(salaries_hourly, media)

# Mostrar resultados
print(f"Estadística t: {t_stat}")
print(f"Valor p: {p_valor}")

if p_valor < 0.05:
    print("Se rechaza la hipótesis nula: el salario por hora es significativamente diferente de 30$/hora")
else:
    print("No se rechaza la hipótesis nula: no hay suficiente evidencia para afirmar que el salario por hora es diferente de 30$/hora")

Estadística t: 20.6198057854942
Valor p: 4.3230240486229894e-92
Se rechaza la hipótesis nula: el salario por hora es significativamente diferente de 30$/hora

# Reto 3 - Construyendo Intervalos de Confianza

Aunque probar nuestra hipótesis es una excelente manera de obtener evidencia empírica para aceptar o rechazar la hipótesis, otra forma de recopilar evidencia es creando un intervalo de confianza. Un intervalo de confianza nos brinda información sobre la media verdadera de la población. Por lo tanto, para un intervalo de confianza del 95%, estamos seguros en un 95% de que la media de la población se encuentra dentro del intervalo de confianza.

Para leer más sobre los intervalos de confianza, haz clic [aquí](https://es.wikipedia.org/wiki/Intervalo_de_confianza).

En la celda a continuación, construiremos un intervalo de confianza del 95% para el salario por hora medio de todos los trabajadores por hora.

El intervalo de confianza se calcula en SciPy utilizando la función `t.interval`. Puedes leer más sobre esta función [aquí](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

Para calcular el intervalo de confianza del salario por hora, usa 0.95 para el nivel de confianza, el número de filas - 1 para los grados de libertad, la media de la muestra para el parámetro de ubicación y el error estándar para la escala. El error estándar se puede calcular utilizando [esta](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) función en SciPy.

In [19]:
# Calcular media de la muestra
media_muestra = np.mean(salaries_hourly)

# Calcular error estándar 
error_estandar = sem(salaries_hourly)

# Nivel de confianza
confianza = 0.95

# Calcular grados de libertad
grados_de_libertad = len(salaries_hourly) - 1

# Calcular intervalo de confianza
intervalo_confianza = t.interval(confianza, df=grados_de_libertad, loc=media_muestra, scale=error_estandar)

print(f"El intervalo de confianza del {confianza * 100}% para el salario medio por hora es: {intervalo_confianza}")

El intervalo de confianza del 95.0% para el salario medio por hora es: (32.52345834488425, 33.05365708767623)

# Reto 4 - Pruebas de Hipótesis de Proporciones

Otro tipo de prueba de una muestra es una prueba de hipótesis de proporciones. En esta prueba, examinamos si la proporción de un grupo en nuestra muestra es significativamente diferente de una fracción.

Puedes leer más sobre las pruebas de proporción de una muestra [aquí](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

En la celda a continuación, utiliza la función `proportions_ztest` de `statsmodels` para realizar una prueba de hipótesis que determinará si el número de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25% en el nivel de confianza del 95%.

In [23]:
# Parámetros para la prueba de proporciones
numero_exitos = len(salaries_hourly)  # Número de éxitos en la muestra (trabajadores por hora)
total_observaciones = len(salaries_hourly)  # Número total de observaciones en la muestra
proporcion_hipotetica = 0.25  # Valor del 25%

# Prueba de proporciones
z_estadistica, p_valor = proportions_ztest(numero_exitos, total_observaciones, proporcion_hipotetica)

# Mostrar resultados
print(f"Estadística Z: {z_estadistica}")
print(f"Valor P: {p_valor}")

if p_valor < 0.05:
    print("Se rechaza la hipótesis nula: la proporción de salarios por hora es significativamente diferente del 25%")
else:
    print("No se rechaza la hipótesis nula: no hay suficiente evidencia para afirmar que la proporción de salarios por hora es diferente del 25%")

Estadística Z: inf
Valor P: 0.0
Se rechaza la hipótesis nula: la proporción de salarios por hora es significativamente diferente del 25%